.acknowledgementsWrapper {
    text-align: center;
    margin-top: 4rem;
}

.acknowledgement {
    margin: 0rem 4rem 4rem 4rem;
}

@media (max-width: 600px) {
    .acknowledgement {
        margin: 0rem 1rem 2rem 1rem;
    }
}

.about img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

@media (min-width: 1500px) {
    .about  {
        margin: 0rem 30rem 0rem 30rem;
    }
}

@media (min-width: 1000px) {
    .about  {
        margin: 0rem 10rem 0rem 10rem;
    }
}

@media (max-width: 999px) {
    .about  {
        margin: 0rem 5rem 0rem 5rem;
    }
}


@media (max-width: 600px) {
    .about  {
        margin: 0rem 2rem 0rem 2rem;
    }
}