.footer {
    width: 100%;
    text-align: center;
    background-color: white;
    margin-top: auto;
}

.footerIconsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerIcon {
    padding: 1rem;
    color: black;
    transition: 0.3s;
}

.copyright {
    padding: 0.1rem 1rem 1rem 1rem;
}


.footerIcon :hover {
    color: grey;
}