.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: 3rem;
}

.navbar a {
    color: black;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 0.3rem 0.05rem 0.3rem 0.05rem;
    margin: 1rem;
    position: relative;
    transition: 0.25s;
}



a.home {
    cursor: pointer;
}

a.underLine {
    position: relative;
    cursor: pointer;
}

a.underLine:before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 3px;
    left: 0;
    background-color: grey;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

a.underLine:hover:before {
    visibility: visible;
    width: 100%;
}

.mobileDrawerWrapper {
    display: flex;
    justify-content: flex-end;
}

.cross {
    color: white;
}

.activeMobileWrapper {
    color: white;
    position: fixed;
    top: 0;
    right: -1000px;
    bottom: 0;
    width: 100%;
    background-color: black;
    z-index: 1;
    -webkit-animation: slide 0.3s forwards;
    animation: slide 0.3s forwards;
    animation-timing-function: ease-out;
}


@-webkit-keyframes slide {
    0% {
        right: -1000px;
        opacity: 0;
    }

    100% {
        right: 0;
        opacity: 1;
    }
}

@keyframes slide {
    0% {
        right: -1000px;
        opacity: 0;
    }

    100% {
        right: 0;
        opacity: 1;
    }
}


.activeMobileWrapper a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.activeMobileWrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.activeMobileWrapper li {
    padding: 0.5rem;
}

.mobileDrawerIconWrapper {
    height: 3rem;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}

.mobileDrawerIcon {
    cursor: pointer;
}

.mobileNavLinks {
    margin: 1rem;
    text-align: center;
}

.mobileDrawerNavBar {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}