.projectCardWrapper {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    padding: 1rem 1rem 10rem 1rem;
}

.projectCard {
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    cursor: pointer;
    text-overflow: ellipsis;
    padding: 1rem;
    margin: 1rem;
}

.projectCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
}

@media (min-width: 900px) {
    .projectCardWrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 899px) {
    .projectCardWrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 600px) {
    .projectCardWrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}