.skillsWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.skill {
    margin: 1rem;
}

.experience, .education {
    margin-bottom: 4rem;
}